AWS_ACCESS_KEY_ID=your_access_id
AWS_SECRET_ACCESS_KEY=your_key
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
MLFLOW_TRACKING_URI=http://mlflow-server:5000
MLFLOW_SERVER_DEFAULT_ARTIFACT_ROOT=s3://mlflow-artifacts-morphobot-dev

MODEL_BACKEND=cyclegan
MODEL_M2F_ALIAS=champion
MODEL_F2M_ALIAS=champion
ARTIFACTS_OUTPUT_DIR=./artifacts
USE_MIXED_PRECISION=true
DEVICE=auto

HOST=0.0.0.0
PORT=8000
WORKERS=1